# Python
.venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Notebook artifacts
notebooks/artifacts/pretrained_finetune/*
notebooks/artifacts/seperated_vs_shared_encoding/*

# IDE
.vscode/
.idea/
