# Python
.venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Notebook artifacts
notebooks/artifacts/pretrained_finetune/checkpoints/
notebooks/artifacts/pretrained_finetune/results/

# IDE
.vscode/
.idea/
